<div *ngIf="products; else loader" class="scroll-container">
	<ng-container
		*appNavigator="
			products;
			size: 3;
			let next = next;
			let back = back;
			let currentProduct
		"
	>
		<app-product-card
			*ngFor="let productsFromNgFor of currentProduct"
			class="product"
			[product]="productsFromNgFor"
		></app-product-card>
		<div class="pagination-container">
			<button mat-icon-button (click)="back()">
				<mat-icon> chevron_left</mat-icon>
			</button>
			<button mat-icon-button (click)="next()">
				<mat-icon> chevron_right</mat-icon>
			</button>
		</div>
	</ng-container>
</div>

<ng-template #loader>
	<mat-spinner></mat-spinner>
</ng-template>
